@import '@/scss/mixins.scss';
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// colors
	--var-bg: #ecf1f7;
	--var-lighter-primary: #3384e0;
}

[dark] {
	--var-bg: #ecf1f7;
	--var-lighter-primary: #3384e0;
}

body {
	overflow-x: hidden;
}
#app {
	height: 100%;
	min-height: 100vh;
	background: var(--var-bg);
}

.first-letter-upper {
	&::first-letter {
		text-transform: capitalize;
	}
}

*::-webkit-scrollbar {
	width: 10px; /* в основном для вертикальных полос прокрутки */
	height: 10px; /* в основном для горизонтальных полос прокрутки */
}

*::-webkit-scrollbar-thumb {
	/* плашка-бегунок */
	background-color: rgba(170, 170, 170, 0.75);
	border-radius: 4px;
	border: 1px solid #fff;
}

*::-webkit-scrollbar-track {
	/* фон */
	background: #ededed;
}

a {
	text-decoration: none !important;
}
